.banner {
    background-color: var(--azul);
    color:var(--branco);
    text-align:center;
    padding:1em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__paragrafo {
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisar {
    background-color: transparent;
    color:var(--branco);
    border:1px solid var(--branco);
    border-radius: 24px;
    width: 100%;
    text-align: center;
}

.banner__pesquisar::placeholder {
    color:var(--branco);
    background-image: url("../img/Lupa.svg");
    background-repeat: no-repeat;
    background-position: 4em;
}

@media screen and (min-width:1024px) {
    .banner {
        padding: 5em;
    }
    
    .banner__titulo {
        font-size: 36px;
    }
    
    .banner__pesquisar {
        width:35%;
        padding:1em
    }

    .banner__pesquisar::placeholder {
        background-position: 1.5em;
    }
}

@media screen and (min-width:1728px) { 
    .banner {
        padding: 7em;
    }

    .banner__pesquisar {
        width:38%;
        padding: 1.5em;
    }

    .banner__pesquisar::placeholder {
        background-position: 9em;
    }

}