.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--branco);
    position: relative;
    width:100%;
}

.container {
    display: flex;
    align-items: center;
}

.container__menu {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 1em;
}

.container__imagem {
    margin-left: 1em;
    padding: 0.5em;
}

.container__titulo__principal, .container__principal-subtitulo{
    display: none;
}

.lista-container {
    display: none;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width:60vw
}

.container__botao {
    display: none;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo,.lista-menu__Item {
    background-color: var(--branco);
    padding: 1em;
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    color: var(--azul);
    text-decoration:none ;
    text-transform: uppercase;
}

.container__imagem-texto {
    display: none;
}

@media screen  and (min-width: 1024px){
    .container{
        margin-left: 2em;
    }

    .container__menu {
        display: none;
    }
    .container__titulo{
        display: flex;
        padding-left: 1em;
        margin-top: 1em;
    }

    .container__titulo__principal,.container__principal-subtitulo {
        display: block;
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo__principal {
        color: var(--preto);
    }

    .container__principal-subtitulo {
        color:var(--preto-secundaria)
    }

    .lista-container {
        display: flex;
        padding: 2em;
        margin-left: 3em;
        gap: 40px;
    }

    .lista-container-item {
        margin-top:1em;
    }

    .lista-container-link {
        text-transform: uppercase;
        text-decoration: none;
        white-space: nowrap;
        color: var(--preto);
    }

    .itens_imagens {
        margin:2em 0 ;
    }

    .favoritos-imagem {
        display: none;
    }

    .container__imagem {
        margin:0 2em ;
    }

    .opcoes:checked~.lista-menu {
        display: block;
        width: auto;
    }
    
    .opcoes {
        display: none;
    }

}

@media screen and (min-width:1728px) {
    
    .container__imagem {
        margin-left: 6em;
        padding: 0.5em;
    }
    
    .itens-container {
        display: flex;
        align-items: center;
        text-decoration: none;
  
    }

    .container__imagem-texto {
        display: block;
        color: var(--preto);
        font-size: 20px;
    }
}