.contato {
    background-color: var(--branco);
    padding: 1em 1em;
    color: var(--azul);

}

.contato-titulo {
    font-size: 18px;
    font-weight: 500;
}

.contato-texto {
    font-weight: 300;
    margin: 0.5em 0;
}

.contato_email {
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 90%;
    padding: 1em;
   
}

.contato_email::placeholder {
    color: var(--azul);
    font-size: 16px;
    font-weight: 400;
    background-image: url("../img/Email.svg");
    background-repeat: no-repeat;
    padding-left: 2em;   
}