.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--branco);
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__menu {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width:60vw
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo,.lista-menu__Item {
    background-color: var(--branco);
    padding: 1em;
}

.lista-menu__titulo {
    color: var(--laranja);
}

.lista-menu__link {
    color: var(--azul);
    text-decoration:none ;
    text-transform: uppercase;
}