@import url("./cabecalho.css");
@import url("./banner.css");
@import url("./carrosel.css");
@import url("./topicos.css");
@import url("./contato.css");
@import url("./rodape.css");

:root {
    --cor-de-fundo :#EBECEE;
    --branco:#FFFFFF;
    --laranja:#EB9B00;
    --azul:#002F52;
    --branco-secundario:#F9F9F9;
    --preto:#000000;
    --preto-secundaria:#474646;
    --cinza:#858585;
    --fonte-principal: "Poppins";
    --fonte-secundaria :"Josefin Sans"
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size:16px;
}