.topicos {
    background-color: var(--azul);
    padding: 1em 0;
    text-align: center;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
}

.lista-topico {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lista-topicos-item {
    margin:1.5em 1em;
}

.lista-topicos-link {
    background-color: var(--laranja);
    color: var(--branco);
    text-decoration: none;
    padding:1em 0.5em;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width:1024px) {
    .topicos {
    padding:4em;
    }

    .lista-topicos-item {
        width:20%;
    }

}